.profile-card {
  height: 62.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f8f9fa;
  
  margin-top: 20px;
  margin-bottom: 20px; /* Add bottom margin to match the gap */
  overflow: hidden; /* Ensure contents always fit inside */
}

.profile-picture-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Increased margin */
}

.profile-picture {
  width: 120px; /* Increased size */
  height: 120px;
}

.profile-details {
  text-align: center;
  width: 100%;
}

.profile-details h4 {
  margin: 10px 0; /* Added some margin for spacing */
  font-size: 1.5rem; /* Increased font size */
  text-emphasis-color:  linear-gradient(#EF4237, #FAB040)
}

.profile-details p {
  margin: 10px 0; /* Increased margin for better spacing */
  font-size: 1.1rem; /* Slightly increased font size */
}

.profile-details button {
  margin-top: 20px; /* Increased margin for spacing */
  width: 100%;
  background: linear-gradient(#EF4237, #FAB040);
  color: #ffffff;
  border: none;
  padding: 10px; /* Added padding for better button size */
  border-radius: 5px; /* Added border radius for rounded button */
}

.profile-details button:hover {
  background-color: #e9ecef;
  color: #000000;
}
.bg-white-card {
  background-color: #ffffff; /* Set background color to white */
  border-radius: 10px; /* Add rounded edges */
  padding: 20px; /* Optional: add padding to match other components */
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Optional: add shadow for better look */
}




 
