


/* global.css */

body {
  background-color: #1C1C1C;
  font-family: 'Arial', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
 
}

.container {
  /* padding-top: 20px; */
  box-sizing: content-box;
}

.card {
  /* border: none; */
  /* border-radius: 8px; */
  background-color:#1C1C1C;
  box-sizing: content-box;
  /* padding: 20px; */
}

.btn {
  border-radius: 8px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.tile {
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #1C1C1C;
}

.tile:hover {
  background-color: #007bff;
  color: white;
}

.tile-selected {
  background-color: #007bff;
  color: white;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

.div.row {
  padding-bottom: 0px;
  margin: 0px;
}